.custom-nav {
  background-color: #ff6f61 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.custom-nav a {
  color: #fff !important;
  text-decoration-line: none !important;
}

.grey-text {
  color: #939393 !important;
  font-size: 12px !important;
}

.price {
  color: #ff6f61 !important;
  font-size: 14px !important;
}

.custom-card {
  border-radius: 15px !important;
}

.no-style {
  color: #000 !important;
  text-decoration: none !important;
  text-decoration-line: none !important;
}

.product-name {
  color: #707070 !important;
  font-size: 28px !important;
}

.product-price {
  color: #ff6f61 !important;
  font-size: 28px !important;
}

.rating {
  font-size: 14px !important;
  color: #a4a4a4 !important;
}

.description {
  color: #939393 !important;
  font-size: 14px !important;
}

.custom-button {
  background-color: #ff6f61 !important;
  color: #fff !important;
  border-radius: 10px !important;
}
