.custom-nav {
  background-color: #ff6f61 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.custom-nav a {
  color: #fff !important;
  text-decoration-line: none !important;
}

.grey-text {
  color: #939393 !important;
  font-size: 12px !important;
}

.price {
  color: #ff6f61 !important;
  font-size: 14px !important;
}

.custom-card {
  border-radius: 15px !important;
}

.no-style {
  color: #000 !important;
  text-decoration: none !important;
  text-decoration-line: none !important;
}

.product-name {
  color: #707070 !important;
  font-size: 28px !important;
}

.product-price {
  color: #ff6f61 !important;
  font-size: 28px !important;
}

.rating {
  font-size: 14px !important;
  color: #a4a4a4 !important;
}

.description {
  color: #939393 !important;
  font-size: 14px !important;
}

.custom-button {
  background-color: #ff6f61 !important;
  color: #fff !important;
  border-radius: 10px !important;
}

.quan {
  color: #484848 !important;
  font-size: 14px !important;
}

.quan-value {
  color: #484848 !important;
  font-size: 18px !important;
  margin: 0 !important;
}

.quan-func {
  color: #484848 !important;
  font-size: 18px !important;
  margin: 0 !important;
  cursor: pointer;
}

.quan-box {
  border: 1px solid #484848 !important;
  border-radius: 10px !important;
  background-color: #f5f5f5 !important;
}

.footer {
  background-color: #1a586a !important;
  color: #707070 !important;
  font-size: 12px !important;
  text-align: center !important;
  padding: 20px 0px !important;
}
