.custom-nav {
  background-color: #ff6f61 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.custom-nav a {
  color: #fff !important;
  text-decoration-line: none !important;
}

.grey-text {
  color: #BABABA !important;
  font-size: 12px !important;
}

.price {
  color: #ff6f61 !important;
  font-size: 14px !important;
}